
.navbar {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 15px 32px !important;
    position: fixed !important;
    z-index: 1;
    transition: all 0.5s;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.navbar-logo{
    display: flex;
    justify-content: flex-start;
    width: 200px;
}
.navbar-toggler{
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
#navbarSupportedContent{
    max-width: 200px;
    text-align: end;
}
.large-logo{
    display: block;
}
.small-logo{
    display: none;
    margin-left: 20px;
}
@media (max-width: 991.98px) {
    .navbar {
        width: 100%;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        padding: 15px 0 !important;
    }
    .search-bar {
        display: none !important;
    }

    .large-logo{
        display: none;
    }
    .small-logo{
        display: block;
    }
}



/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 380px; /* Adjust width as needed */
    margin: 0 auto; /* Centering the search bar */
}
.search-input {
    width: 100%;
    padding: 10px 40px; /* Adjust padding for icon */
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.search-input::placeholder{
    color: #94a3b8;
    font-size: 14px;
}
.search-icon {
    position: absolute;
    width: 20px;
    stroke: 2px;
    fill: #94a3b8;
    line-height: 1;
    left: 15px; /* Adjust the position of the icon */
}
.search-text {
    position: absolute;
    left: 40px; /* Adjust the position of the text */
    color: #aaa; /* Placeholder color */
}
.search-helper {
    position: absolute;
    right: 10px; /* Adjust the position of the helper text */
    color: #aaa;
    font-size: 14px;
    font-weight: 500;
}
/* right side */
.nav-item{
    margin-left: 20px;
}
.dropdown-icon{
    height: 30px;
    margin-top: 7px;
    padding: 1px 4px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .05);
}
.dropdown-icon a{
    padding: 0 !important;
}
.dropdown-toggle::after {
    display: none !important;
}
.star-image{
    width: 20px !important;
    fill: #38BDF8 !important;
}
.github-image{
    width: 25px !important;
    fill: #94a3b8 !important;
}
/* dropdown */
.dropdown-menu{
    padding: 5px;
}
.dropdown-menu li a{
    padding: 2px !important;
    border-radius: 5px;
}
.dropdown-item{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    line-height: 1;
}
.dropdown-menu[data-bs-popper] {
    top: 35px !important;
    left: -75px !important;
    padding: 12px !important;
}
.dropdown-list-image{
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .05);
    display: inline-block;
}
.dropdown-image{
    /* width: 100% !important; */
    fill: #94a3b8 !important;
    width: 16px;
    margin-top: -4px;
}
.dropDown-text{
    font-size: 14px;
    color: #334155;
}
.mobile-search-icon{
    display: none;
}

@media (max-width: 767.8px) {
    .mobile-search-icon{
        display: block !important;
    }
}


/* Mobile View Sidebar */
.nav-overlay {
    position: fixed;
    backdrop-filter: blur(8px); /* Adjust blur strength as needed */
    background-color: rgba(15, 23, 42, .5); /* Adjust background color and opacity */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2222;
    /* transition: .6s all ease-in-out; */
    display: block;
    margin: 0;
  }
  
  .mobile-sidebar{
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #ffffff; 
    overflow-x: hidden; 
    /* transition: .6s all ease-in-out;  */
  }
  .sidebar-padding{
    padding: 20px 24px;
  }
  
  .mobile-head{
    display: flex;
    justify-content: flex-start;
  }
  .mobile-logo{
    margin-left: 32px;
    margin-top: 2px;
  }
  .cross{
    width: 30px;
    margin-bottom: 0;
    line-height: 36px;
  }
  .cross .fa-solid.fa-x{
    margin-top: 11px;
    margin-left: 4px;
    font-size: 24px !important;
    color: #64748b !important;
  }

  .mobile-sidebar-inner{
    margin-top: 1.5rem;
  }

/* main content area */
.main-content{
    display: flex;
}
.left-side-bar{
    width: 25%;
    position: sticky;
    margin-top: 75px;
    padding-top: 75px;
    padding-left: 30px;
    height: 100vh; /* Sticky element needs a height to become sticky */
    overflow-y: auto; /* Enable scrolling within the left child */
    background-color: #F8FAFC; /* Example background color */
}

  /* sidebar */
  .sidebar-list-title{
    font-size: 16px;
    font-weight: 500;
    color: #0F172A;
    margin-bottom: 1.5rem;
  }
  .sidebar-ul{
    border-left: 2px solid #E2E8F0;
    padding-left: 13px;
  }
  .sidebar-ul li{
    list-style: none;
    margin-bottom: 1rem;
  }
  .sidebar-ul li a{
    color: #64748B;
    text-decoration: none;
    font-size: 16px;
  }
  .sidebar-ul li:hover{
    list-style: initial;
  }
  .sidebar-ul li:hover a{
    color: #475569;
  }
  .sidebar-first-child a{
    color: rgb(14 165 233) !important;
  }
  .sidebar-first-child{
    list-style: initial !important;
  }
  .sidebar-first-child::marker{
    color: rgb(14 165 233) !important;
  }
  .sidebar-ul li::marker {
    color: #cfd6df; /* Custom color for the marker */
}



.right-content{
    width: 75%;
    overflow-y: auto; /* Enable scrolling within the right child */
    height: 100vh; /* Ensure both children are of equal height */
}
.right-content-inner{
    display: flex;
}
.main-content-area{
    width: 74%;
    margin-top: 150px;
    padding: 0 52px;
}
.getting-started{
    padding-bottom: 40px;
}
.small-title{
    font-size: 14px;
    color: #0EA5E9;
}
.get-start-title{
    font-size: 32px !important;
    color: #0F172A;
    margin-bottom: 20px;
}

.getting-started p{
    font-size: 20px !important;
    color: #64748B;
    margin-bottom: 0;
}
/* card */
.card-image{
    width: 30px;
    margin-bottom: 10px;
}
.card-title{
    color: #0F172A !important;
    margin-bottom: 30px !important;
}
.card-text{
    font-size: 16px;
    color: #334155;
}
.card-body{
    height: 200px;
    cursor: pointer;
}
.card-area{
    padding: 35px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns per row */
    gap: 30px; /* Adjust as needed */
}
.card:hover{
    background-color: rgba(151, 222, 250,.1);
    outline: 2px solid rgba(50,130,246,1);
}
/* Custom CSS for small devices */
@media (max-width: 644px) {
    .card-area {
      display: block; /* Revert to default block display */
    }
  }

.main-content-common-title{
    font-size: 24px;
    font-weight: 500;
    color: #0F172A;
    margin: 40px 0 24px;
}
.main-content-common-text{
    font-size: 16px;
    color: #334155;
}
.main-content-details ul li{
    font-size: 16px;
    color: #334155;
    margin-bottom: 1rem;
}
.main-content-details ul li::marker{
    color: #cfd6df; /* Custom color for the marker */
}
.extra-css{
    position: relative;
    display: inline-block;
    color: #334155;
    font-weight: 600;
    background-color: white; /* Background color */
    border: none; /* Remove default border */
    z-index: 11;
    cursor: pointer;
}
.extra-css::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Height of the colored area */
    background-color: rgba(135,206,235,.5); /* Initial color */
    transition: height 0.3s, background-color 0.3s; /* Smooth transition */
    z-index: -1;

  }
.extra-css:hover::before{
    height: 40%; /* Increase height on hover */
    background-color: skyblue; /* Change color on hover */
}

.bottom-part{
    padding: 30px 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.bottom-part a:first-child{
    font-size: 16px !important;
    font-weight: 600;
    color: rgb(15 23 42);
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}
.bottom-part a:last-child{
    color: #475569;
    cursor: pointer;
    text-decoration: none;
}
.bottom-part .fa-arrow-right{
    width: 14px;
    color: #475569;
    margin-left: 3px;
}
/* main content right side */
.right-side-content{
    width: 20%;;
    height: 500px;
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 1;
}
.right-side-title{
    font-size: 14px;
    font-weight: 500;
    color: #0F172A;
    margin: 0;
    padding-bottom: 20px;
}
.right-side-list{
    padding: 0;
}
.right-side-list li{
   list-style: none;
   padding: 10px 0;
}
.right-side-list li a{
    text-decoration: none;
    color: #64748B;
    font-size: 14px;
}
.right-side-list li:first-child a{
    color: rgb(14 165 233) !important;
}
.right-side-list li a:hover{
    color: #334155;
}

@media (min-width:991px) and (max-width:1200px) {
    .main-content-area{
        width: 100%;
    }
    .right-side-content{
        display: none;
    }
}

@media (max-width:991px) {
    .left-side-bar{
        display: none; 
    }
    .right-content{
        width: 100%;
    }
    .main-content-area{
        width: 100%;
    }
    .right-side-content{
        display: none;
    }
    .card{
        margin-bottom: 20px;
        /* color: #0F172A; */
    }
}
@media (min-width:768px) and (max-width:991px) {
    .main-content-area{
        padding: 0px 80px;
    }
}
@media (max-width:768px) {
    .main-content-area{
        width: 100%;
        padding: 0px 30px;
    }
    .mobile-sidebar{
        /* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
        display: none;
    }
    }

}
@media (max-width:576px) {
    .main-content-area{
        width: 100%;
        padding: 0px 16px;
    }
}
@media (min-width:640px) and (max-width:767.8px)  {
    .container, .container-sm {
        max-width: 600px !important;
    }
}
@media (max-width:400px)  {
    .navbar-logo{
        width: 80px;
    }
    .mobile-logo{
        margin-left: 30px;
      }
      .small-logo{
        margin-left: 10px;
      }
      .cross .fa-solid.fa-x{
        margin-top: 9px;
      }
}
@media (max-width:320px)  {
    .navbar-logo{
        width: 80px;
    }
    /* .mobile-logo{
        margin-left: 10px;
      }
    .small-logo{
        margin-left: 10px;
      } */
}